$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1025px;
$xxl: 1400px;
$xxxl: 1920px;

$primary-color: #3922C5;
$primary-hover-color: #2C1A9A;
$primary-focus-color: #1F1368;

$main-secondary-color: #D9D9D9;
$secondary-color: #F4F4F4;

$main-text-color: #0C0C0C;

$white-color: #FFF;

$main-box-shadow: 0px 10px 40px rgba(12, 12, 12, 0.1);

$main-border-radius: 20px;
$secondary-border-radius: 15px;

$margin-bottom-0: 40px;
$margin-bottom-1: 30px;
$margin-bottom-2: 20px;
$margin-bottom-3: 15px;
$margin-bottom-4: 36px;